.lista_contacto{
    list-style: none;
}

.enlaces{
    color: white;
    text-decoration: none;
}

.enlaces:hover{
    color: orange;
}

.pop_correo{
    position: fixed;
    top: 20%;
    left: 25%;
    background: rgba(0, 0, 0, .8);
    width: 50%;
    height: 65%;
    z-index: 100;
    display: none;
}

.form-label{
    margin-top: 2rem;
    color: orange;
    font-weight: bold;
    font-size: 18px;
}

#mensaje{
    resize: none;
    height: 250px;
}

#botonera_pop_correo{
    width: 100%;
    height: 40px;
    border: 1px solid orange;
    font-weight: bold;
    color: orange;
    background: none;
}

#close_correo{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

@media (max-width:768px){
    .pop_correo{
        position: fixed;
        top: 20%;
        left: 0%;
        background: rgba(0, 0, 0, .8);
        width: 100%;
        height: 75%;
        z-index: 100;
        display: none;
    }
}
