body{
    font-family: 'Baloo 2', cursive;
    background-image: url(/imagenes/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand{
    display: flex;
}

.title{
    display: flex;
    float: right;
    margin: 1rem;
    color: white;
    justify-content: center;
    align-items: center;
}

.d-inline-block{
    width: 6rem;
    height: 6rem;
    border: 2px solid orange;
    border-radius: 10% 50% 50% 50%;
}

.icono{
    margin: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid orange;
    border-radius: 50% 10% 50% 50%;
}

@media (max-width:768px){

    body{   
        background-image: url(/imagenes/background-responsive.jpg);
        background-repeat: repeat-y;
        background-size: cover;

    }

    #cards_superiores{
        margin-top: 1rem;
    }
}

